<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/api/v1/library" class="nav-link active" aria-current="page">My Big Library</a></li>
                <li class="nav-item"><a href="/api/v1/library/create" class="nav-link" aria-current="page">Book add</a></li>
            </ul>
        </header>
    </div>
</header>